body {
        background-image: url("../images/Wallpaper.jpg ");
   
}

/* Footer Styles */
footer {
    background-color: #0f0f0f;
    color: #0f0f0f;
}

footer h5 {
    margin-bottom: 20px;
    color: #5f1515;
}

footer p {
    margin-bottom: 10px;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: #0f0f0f;
    text-decoration: none;
}

footer ul li a:hover {
    color: #0f0f0f;
}