{%extends 'base.html'%}
{%block title%}
    <title>Document</title>
  {%endblock%}
{%block content%}
    <div class="container mt-5">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" name="Name" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Blood Group" name="Blood_group" required>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Age" name="Age" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Disease" name="Disease" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Location" name="Location" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="{% url 'view_all_patients' %}" class="btn btn-info">View All Patients</a>
{%endblock%}
    