<!-- view_patient.html -->
{%extends 'base.html'%}

{%load static%}

{%block title%}
    <title>Patient Details</title>
    {%endblock%}
    
    {%block content%}
    <div class="container mt-5">
        <h2>Patient Details</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Blood Group</th>
                    <th>Age</th>
                    <th>Disease</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ patient.Name }}</td>
                    <td>{{ patient.Blood_group }}</td>
                    <td>{{ patient.Age }}</td>
                    <td>{{ patient.Disease }}</td>
                    <td>{{ patient.Location }}</td>
                </tr>
            </tbody>
        </table>
    {%endblock%}
